<ion-content color="white">

    <ion-card color=azulbombero>
        <ion-card-header>
            <ion-card-subtitle style="text-align: center; font-family: BebasNeue;">Total de asistencia anual</ion-card-subtitle>
            <ion-card-title style="text-align: center; font-family: BebasNeue;">Reporte de asistencia</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card color="white">
        <ion-item color="white">
            <ion-badge slot="start" color="success">22</ion-badge>
            <ion-label class="ion-text-center" style="text-align: center; font-family: BebasNeue;">Reuniones</ion-label>
            <ion-badge slot="end" color="danger">12</ion-badge>
        </ion-item>
        <ion-item color="white">
            <ion-badge slot="start" color="success">38</ion-badge>
            <ion-label class="ion-text-center" style="text-align: center; font-family: BebasNeue;">Academias</ion-label>
            <ion-badge slot="end" color="danger">29</ion-badge>
        </ion-item>
        <ion-item color="white">
            <ion-badge slot="start" color="success">297</ion-badge>
            <ion-label class="ion-text-center" style="text-align: center; font-family: BebasNeue;"> Emergencias</ion-label>
            <ion-badge slot="end" color="danger">87</ion-badge>
        </ion-item>
        <ion-item color="white">
            <ion-badge slot="start" color="success">10</ion-badge>
            <ion-label class="ion-text-center" style="text-align: center; font-family: BebasNeue;">Otras citaciones</ion-label>
            <ion-badge slot="end" color="danger">8</ion-badge>
        </ion-item>
    </ion-card>

    <ion-card color=azulbombero>
        <ion-card-content style="text-align: center; font-family: BebasNeue;">
            VERDE, total de la Compañía.
        </ion-card-content>
        <ion-card-content style="text-align: center; font-family: BebasNeue;">
            ROJO, total del bombero.
        </ion-card-content>
    </ion-card>

</ion-content>