<ion-content color="white">

    <ion-card color="azulbombero">
        <ion-card-header>
            <ion-card-subtitle style="text-align: center; font-family: BebasNeue;">Medallas recibidas por años de servicio</ion-card-subtitle>
            <ion-card-title style="text-align: center; font-family: BebasNeue;">Premios de constancia</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card color="white">
        <ion-item color="white">
            <ion-badge slot="start" color="success">5</ion-badge>
            <ion-label style="text-align: center; font-family: BebasNeue;">Años de servicio</ion-label>
        </ion-item>
        <ion-item color="white">
            <ion-badge slot="start" color="success">10</ion-badge>
            <ion-label style="text-align: center; font-family: BebasNeue;">Años de servicio</ion-label>
        </ion-item>
        <ion-item color="white">
            <ion-badge slot="start" color="success">15</ion-badge>
            <ion-label style="text-align: center; font-family: BebasNeue;">Años de servicio</ion-label>
        </ion-item>
        <ion-item color="white">
            <ion-badge slot="start" color="success">20</ion-badge>
            <ion-label style="text-align: center; font-family: BebasNeue;">Años de servicio</ion-label>
        </ion-item>
    </ion-card>

</ion-content>