<ion-header>
  <ion-toolbar color='white'>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: BebasNeue; text-align: left;">Registrar asistencia</ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content color="white">
  <ion-card color="white">
    <img src="assets/images/qr.png">
    <ion-card-content color="white">
      <ion-list color="white">
        <ion-item>
          <ion-label>Rut bombero:</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Nombre Bombero:</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>    
</ion-content>
