<ion-content color="white">
    <ion-card color=azulbombero>
        <ion-card-header>
            <ion-card-subtitle style="text-align: center; font-family: BebasNeue;">Archivo Secretaría
            </ion-card-subtitle>
            <ion-card-title style="text-align: center; font-family: BebasNeue;">Datos personales del bombero
            </ion-card-title>
        </ion-card-header>
    </ion-card>

    <!-- <ion-card>
        <img src="assets/images/escudo3d.jpg">
        <ion-card-content style="padding-left: 0px;">
            <ion-list>
                <ion-item>
                    <h2 style="font-family: BebasNeue; font-size: 15px;">Rut: {{bombero.rut}}</h2>
                </ion-item>
                <ion-item>
                    <h2 style="font-family: BebasNeue; font-size: 15px;">Nombre: {{bombero.nombre1}}</h2>
                </ion-item>
                <ion-item>
                    <h2 style="font-family: BebasNeue; font-size: 15px;">Apellido paterno: {{bombero.apellido1}}</h2>
                </ion-item>
                <ion-item>
                    <h2 style="font-family: BebasNeue; font-size: 15px;">Apellido materno: {{bombero.apellido2}}</h2>
                </ion-item>
                <ion-item>
                    <h2 style="font-family: BebasNeue; font-size: 15px;">Fecha de nacimiento: {{bombero.fechanac}}</h2>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card> -->
    <ion-grid>
        <ion-card color="white" style="font-family: BebasNeue;">
            <ion-row>
                <ion-col size="auto">
                    <div>
                        Rut:
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        {{bombero.rut}}
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="auto">
                    <div>
                        Nombre:
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        {{bombero.nombre1}}
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="auto">
                    <div>
                        Apellido paterno:
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        {{bombero.apellido1}}
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="auto">
                    <div>
                        Apellido materno:
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        {{bombero.apellido2}}
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="auto">
                    <div>
                        Fecha de nacimiento:
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        {{bombero.fechanac}}
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card color="white" style="font-family: BebasNeue;">
            <ion-row>
                <ion-col size="auto">
                    <div>
                        Dirección:
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        {{bombero.direccion}}
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="auto">
                    <div>
                        Ciudad:
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        {{bombero.ciudad}}
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card color="white" style="font-family: BebasNeue;">
            <ion-row>
                <ion-col size="auto">
                    <div>
                        Fecha de ingreso:
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        {{bombero.fechaingreso}}
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="auto">
                    <div>
                        Número de registro:
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        {{bombero.nreg}}
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="auto">
                    <div>
                        Cargo:
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        {{bombero.cargo}}
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="auto">
                    <div>
                        Estado:
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        {{bombero.estado}}
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-grid>


</ion-content>